<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%-include('../../partials/header.ejs')%>  

    <form method="post" action="feedback">
        <label>1. Your overall experience with us ?</label><br><br>

        <span class="star-rating">
            <input type="radio" name="rating1" value="1"><i></i>
            <input type="radio" name="rating1" value="2"><i></i>
            <input type="radio" name="rating1" value="3"><i></i>
            <input type="radio" name="rating1" value="4"><i></i>
            <input type="radio" name="rating1" value="5"><i></i>
        </span>
        <br><br><br>
        <label>2.Any Comments ?</label><br><br>
        <textarea cols="75" name="description" rows="5"></textarea>
        <br> <br>
        <input style="background:#43a7d5;color:#fff;padding:12px;border:0" type="submit" value="Submit your review">


    </form>
    <%-include('../../partials/footer.ejs')%> 
</body>

</html>