<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="createcomplaint" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Complaint Title" required><br><br>
        <input type="text" name="description" placeholder="Complaint Description" required><br><br>
        <input type="file" name="image"><br><br>
        <input type="submit" value="post"><br><br>
    </form>
    </form>
</body>
</html>