<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="createorder" method="POST">
        <label for="itemname">Name of the item</label>

        <input type="text" name="itemname">
        <label for="quantity">Quantity of the item</label>
        <input type="number" name="quantity">
        <label for="price">Price of the item</label>
        <input type="number" step="0.01" name="price">
        <button class="submit" name="submititem"> Submit </button>
    </form>
    <% for(var i=0;i<items.length;i++) { %>

        <div class="item">
            <%=`${items[i]['itemname']} --- ${items[i]['quantity']}----  ${items[i]['price']}`%>
        </div>

        <% } %>

            <form action="orderdone" method="POST">
                <button class="submit-order">
                   ORDER DONE !!
                </button>
            </form>
</body>

</html>